label{
    padding-top:10px
  }
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000; /* Fondo negro para toda la página */
    color: #fff; /* Texto blanco para todo el contenido */
}
.navbar {
    background-color: #fff !important; /* Barra de navegación blanca */
    border-radius: 0 !important; /* Quitamos el border-radius */
}
.navbar .nav-link,
.navbar .navbar-brand {
    color: #000 !important; /* Letras negras en la barra */
}
.navbar .nav-link:hover {
    background-color: #000 !important;
    color: #fff !important;
}
.custom-modal-2 {
    height: 45vh; /* Aumenta la altura del modal */
    overflow-y: auto; /* Permite el desplazamiento si el contenido excede la altura */
}
.modal-button {
    background-color: #fff;  /* Fondo blanco por defecto */
    color: #000;  /* Texto negro por defecto */
    border: 1px solid #000;  /* Borde negro por defecto */
    border-radius: 5px;  /* Bordes redondeados */
    cursor: pointer;  /* Cambia el cursor cuando pasas sobre el botón */
    transition: all 0.3s ease; 
}
.modal-button:hover {
    background-color: #000;  /* Fondo negro cuando el mouse pasa por encima */
    color: #fff;  /* Texto blanco cuando el mouse pasa por encima */
    border: 1px solid #fff;  /* Borde blanco cuando el mouse pasa por encima */
}
.modal-formulario {
    height: 60vh; /* Aumenta la altura del modal */
    overflow-y: auto; /* Permite el desplazamiento si el contenido excede la altura */
}