footer{
    margin-top: auto;
    background-color: hsl(240, 20%, 6%); 
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #22252b; 
    color: #000000; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #fff !important; 
    border-radius: 0 !important; 
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: #000 !important; 
  }
  
  .navbar .nav-link:hover,
  .navbar .navbar-item.active .nav-link {
    background-color: #000 !important; 
    color: #fff !important; 
    border-radius: 0 !important; 
  }
  
  .navbar .nav-item.active .nav-link {
    background-color: #000 !important; 
    color: #fff !important; 
  }
  
  .navbar .nav-link:hover {
    background-color: #000 !important;
    color: #fff !important;
  }
.container {
    margin-top: 50px;
}


.btn-violet {
    background-color: #6f42c1;
    color: white;
}
.btn-violet:hover {
    background-color: #5a2d91;
}
.modal-body {
    max-height: 800px;
    overflow-y: auto;
}
.modal-content {
    background-color: #000;
    color: white;
    
}
.modal-header {
    border-bottom: 1px solid #444;
}

.btn-icon-only {
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
}