label {
    padding-top: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #fff !important;
    border-radius: 0 !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #000 !important;
}

.navbar .nav-link.active {
    background-color: #000 !important;
    color: #fff !important;
}

.navbar .nav-link:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.custom-modal-2 {
    height: 45vh;
    overflow-y: auto;
}

.modal-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.modal-button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.modal-formulario {
    height: 60vh;
    overflow-y: auto;
}

@keyframes gradient-animation {
    0% {
        border-image-source: linear-gradient(90deg, #004eae, #ff5a00);
    }
    50% {
        border-image-source: linear-gradient(180deg, #d52b1e, #0073ff);
    }
    100% {
        border-image-source: linear-gradient(360deg, #004eae, #ff5a00);
    }
}

.box {
    background-color: rgb(51, 51, 51);
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #004eae, #ff5a00);
    animation: gradient-animation 5s infinite;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    color: rgb(255, 255, 255);
}

.box h2 {
    color: #ffffff;
    font-weight: bold;
}

.box ul {
    margin-left: 10px;
}

.box ul li {
    margin-bottom: 10px;
}

.navbar {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.navbar-item {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

.navbar-item {
    color: rgb(0, 0, 0);
}

.navbar-item.active {
    background-color: #000;
    color: #fff;
}

.navbar-item:hover {
    color: #ffffff;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.carousel-item {
    display: none;
}

.carousel-item img {
    width: 100%;
    height: 430px;
    object-fit: cover;
}

.carousel-item.active {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(43, 43, 43, 0.694);
    color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    opacity: 0.8;
}

.carousel-button:focus {
    outline: none;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:hover {
    opacity: 1;
}

body {
    background-color: #22252b;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    gap: 3px;
}

.image {
    flex: 1;
    min-width: 300px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.text {
    flex: 2;
    min-width: 300px;
}

.text h1 {
    font-size: 2em;
}

.text ul {
    list-style-type: disc;
    margin-left: 20px;
}

.text p {
    margin-top: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');